.c-info { $c: &;
	width: 100%;

    &--bg {
        #{$c}__text {
        	&::after {
        		content: "";
        		display: block;
        		background-color: var(--highlight);
        		width: var(--s-40-72);
        		height: var(--s-40-72);
        		margin: 0 auto;
        		margin-top: var(--s-16-32);
		    	border-radius: 50%;
        	}
        }
    }

    &--left {
        #{$c}__text {
            text-align: left;
        }
    }


    &__text {
    	font-size: var(--s-32-64);
    	font-weight: bold;
    	color: var(--text);
    	text-align: center;
    	width: 100%;
    	max-width: 813px;
    	margin: 0 auto;

        p {
            margin: 0;
        }
    }

}