.c-codey { $c: &;
	font-family: 'Source Code Pro', monospace;
	font-weight: bold;
	white-space: pre;
	color: var(--text);
	font-size: var(--s-20-36);
	line-height: 1.6em;
    outline: none;
    border: solid 4px;
    padding: 10px;
    min-height: 500px;
    max-height: 90vh;
    overflow: scroll;

	&::first-line {
		color: var(--highlight);
		font-size: var(--s-30-48);
	}

	&:focus {
	    border: solid 4px var(--highlight);
	}
}