---
layout: page
title: Static Site Components
page_sections:
  - slug: header
    bg_color: light
    alignment: pinned
    content_blocks:
      - _component_type: nav
        logo:
          image: /assets/me.png
          alt: 'Me, but angry'
        links:
          - title: About
            href: '#tree'
          - title: The
            href: '#tree'
          - title: TOML
            href: '#toml-anatomy'
      - _component_type: header
        title: Static Site Components
        bg: true
  - slug: what-is-storybook
    bg_color: white
    alignment: center
    content_blocks:
      - _component_type: info
        bg: true
        text: >-
          Storybook is an open source tool for developing UI components in
          isolation for React, Vue, Angular, and more
  - slug:
    bg_color: dark
    alignment: center
    content_blocks:
      - _component_type: piccy
        flip: false
        text: 'This is some text about components, with a picture.'
        pic:
          image: /assets/sheepdog.svg
          alt: Sheepdog
  - slug:
    bg_color: white
    alignment: center
    content_blocks:
      - _component_type: info
        bg: false
        text: Anatomy of a TOML file
      - _component_type: only-piccy
        image: /uploads/toml-tags.svg
        alt: Root level TOML keys
  - slug: toml-anatomy
    bg_color: light
    alignment: center
    content_blocks:
      - _component_type: codey
        code_block: |-
          Anatomy of a TOML file

          [meta]      # CloudCannon Specific config

          [defaults]  # Main component props

          [standard]  # The primary "story"

          [variants]  # Alternative stories
---

<div class="l-page">
{% for section in page.page_sections %}
  <div id="{{section.slug}}" class="l-section l-section--{{section.bg_color}} l-section--{{section.alignment}}">
    <div class="l-section__inner">
    {% for block in section.content_blocks %}
      <div class="l-component">
      	{% component {{block._component_type}} bind=block %}
      </div>
    {% endfor %}
    </div>
  </div>
{% endfor %}
</div>