.c-codey { $c: &;
	font-family: 'Source Code Pro', monospace;
	font-weight: bold;
	white-space: pre-wrap;
	color: $text;
	font-size: 20px -> 36px;
	line-height: 1.6em;
    outline: none;
    border: solid 4px;
    padding: 10px;
    min-height: 500px;

	&::first-line {
		color: $highlight;
		font-size: 30px -> 48px;
	}

	&:focus {
	    border: solid 4px $highlight;
	}
}