.c-piccy { $c: &;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

    &--flip {
        align-items: flex-end;
    	text-align: right;
    }

    &--pin {
        #{$c}__image {
            height: auto;
            width: 100%;
        }
    }

    &__image {
    	height: var(--s-200-350);
    	width: auto;
    }

    &__text {
    	margin-top: var(--s-30-62);
    	font-weight: bold;
    	font-size: var(--s-32-64);
    	color: var(--text);
    	max-width: 813px;

        p {
            margin: 0;
        }
    }

}